{% extends "master.html" %}
{% load form_filters %}

{% block title %}Add New Member{% endblock %}

{% block content %}
<div class="container mt-4">
  <h4>
    <a href="{% url 'members' %}" class="text-decoration-none me-3">
      <i class="fa fa-arrow-left"></i>
    </a>
    {% if member %}Edit Member{% else %}Add Member{% endif %}
  </h4>
  <hr>
  <form method="post" class="mt-4">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="mb-3">
      <label for="{{ form.firstname.id_for_label }}" class="form-label">First Name</label>
      {{ form.firstname|add_class:"form-control" }}
      {% if form.firstname.errors %}
      <div class="text-danger">{{ form.firstname.errors.0 }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="{{ form.lastname.id_for_label }}" class="form-label">Last Name</label>
      {{ form.lastname|add_class:"form-control" }}
      {% if form.lastname.errors %}
      <div class="text-danger">{{ form.lastname.errors.0 }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="{{ form.phone.id_for_label }}" class="form-label">Phone</label>
      {{ form.phone|add_class:"form-control" }}
      {% if form.phone.errors %}
      <div class="text-danger">{{ form.phone.errors.0 }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="{{ form.joined_date.id_for_label }}" class="form-label">Joined Date</label>
      {{ form.joined_date|add_class:"form-control" }}
      {% if form.joined_date.errors %}
      <div class="text-danger">{{ form.joined_date.errors.0 }}</div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>
{% endblock %}

{% block script %}
<script>
  console.log("Add Member Page Loaded");
</script>
{% endblock %}