{% extends "master.html" %}

{% block title %}
Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}
<h4>
  <a href="{% url 'members' %}" class="text-decoration-none me-3">
    <i class="fa fa-arrow-left"></i>
  </a>
  View Member Details
</h4>
<div class="mycard border p-2 mb-5 bg-light rounded mt-3 text-center">
  <p>#{{ mymember.id }}</p>
  <h3 class="mt-3 mb-3">{{ mymember.firstname }} {{ mymember.lastname }}</h3>
  <p>Phone : {{ mymember.phone }}</p>
  <p>Member since : {{ mymember.joined_date }}</p>
  <p>Slug : {{ mymember.slug }}</p>
</div>
{% endblock %}