{% comment %} {# Django will ignore everything until {% endcomment %} #}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'mystyles.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <div class="topnav">
    <a href="/">HOME</a> |
    <a href="/members">MEMBERS</a>
  </div>

  {% block content %}{% endblock %}
</body>

</html>
{% endcomment %}


<!-- Bootstrap5 UI start -->
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% bootstrap_javascript %}</title>
  {% block css %}{% endblock %}
</head>

<body>

  <div class="container-fluid">
    <ul class="nav bg-primary mb-4">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/members">MEMBERS</a>
      </li>
    </ul>
  </div>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
{% block script %}
{% endblock %}

</html>
<!-- Bootstrap5 UI end -->